:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 2px;
  width: 30%;
  min-width: 50px;
  min-height: 50px;
  max-width: 30%;
  flex-shrink: 0;
}
.group_1 {
  background-color: hsla(var(--ig-gray-100));
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  padding: 5px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_2 {
  background-color: hsla(var(--ig-gray-100));
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 15px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.list {
  margin: 12px 0 0;
  height: max-content;
}
.reveal-dash-board {
  min-width: 400px;
  min-height: 200px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}
.reveal-dash-board_1 {
  margin: 2px;
  min-width: 400px;
  min-height: 200px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}
.avatar {
  --igx-avatar-background: transparent;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

// color for selected item
.selected {
  background-color:#E0E0E0;
}